.container-fluid
  .row
    .col-sm-8.col-md-8.col-lg-8.test
      p hola
    .col-sm-4.col-md-4.col-lg-4.test(background="green")
      p hola2
      img.redondo50.float-right(src="http://www.hdfondos.eu/pictures/2014/0811/1/pikachu-pokemon-wallpaper-1840.jpg")
      
