.container-fluid.row 
  .col-sm-7.col-md-8.test
    .test 
    p cascadaaaaa
  .col-sm-3.col-md-3.test
    .test
    p hola 
.container-fluid.row
    .col-sm-3
       img(src="./img/logo.png" width="50%")
    .col-sm-7
       h2 bla bla 
.test.row
  .col-sm-12
    button.btn.btn-primary(type="button") button 1
    button.btn.btn-primary(type="button") button 2
    button.btn.btn-primary(type="button") button 3
    button.btn.btn-primary(type="button") button 4
