.container-fluid.row.center-block
  .col-sm-3.col-md-4.test
    .test
     img(src="./img/head.png" width="25%")
  .col-sm-3.col-md-4.test.wrapper
    .test
     img(src="./img/up1.png") 
     img(src="./img/up3.png") 
  .col-sm-3.col-md-4.test.wrapper
     button.btn.btn-primary.btn-lg.centered(type="button") button 2
.container-fluid.row.center-block.test.headback
    .col-sm-3
       img(class="rounded" src="./img/logo.png" width="50%")
    .col-sm-7.container-centrado
       h2 bla bla 
