.test.container.row 
  .col-sm-8.test
    .test 
    p cascadaaaaa
  .col-sm-3
    .test
    p hola 
.container.row
    .col-sm-3
       img(src="./img/logo.png" width="10%")
    .col-sm-7.offset-md-1
       h2 bla bla 
