.test.row.container-web
  .col-sm-12
    button.btn.btn-outline-primary.btn-lg(type="button") button 1
    a.btn.btn-lg.animated-button.sandy-four(href="#") button 2
    button.btn.btn-primary.btn-lg(type="button") button 3
    button.btn.btn-primary.btn-lg(type="button") button 4
    button.btn.btn-primary.btn-lg(type="button") button 5
