.test.row.container-fluid
  .col-sm-12.wrapper
    button.buttonclik button 1
    button.buttonhov3 button 2
    button.buttonhov2 button 3
    button.btn.btn-primary.btn-lg(type="button") button 4
    button.btn.btn-primary.btn-lg(type="button") button 5
    button.buttonarrow
      span Hover
