.container-fluid.rowfotback
  .row
    .col-sm-12.col-md-12.col-lg-12.wrapper
      div.view.hm-zoom.foto-prueba
          img(src="./img/portafolio/type/pok.jpg" class="img-fluid " alt="")
          div.mask.flex-center
              p.white-text Zoom effect
      div.view.hm-zoom.foto-prueba
          img(src="./img/portafolio/type/pok2.jpg" class="img-fluid " alt="")
          div.mask.flex-center
              p.white-text Zoom effect
      div.view.hm-zoom.foto-prueba
          img(src="./img/portafolio/type/pok3.jpg" class="img-fluid " alt="")
          div.mask.flex-center
              p.white-text Zoom effect
      div.view.hm-zoom.foto-prueba
          img(src="./img/portafolio/type/pok4.jpg" class="img-fluid " alt="")
          div.mask.flex-center
              p.white-text Zoom effect
