div.slideshow-container
  div.mySlides.fade
    div.numbertext 1 / 3
    img(src="https://www.titanui.com/wp-content/uploads/2013/07/12/Flat-iOS-7-Status-Bar-PSD.jpg" style="width:100%")
    div.text Caption Text
  div.mySlides.fade
    div.numbertext 2 / 3
    img(src="https://9to5mac.files.wordpress.com/2013/07/screen-shot-2013-07-29-at-10-45-43-am.png?w=1000" style="width:100%")
    div.text Caption Two
  div.mySlides.fade
    div.numbertext 3 / 3
    img(src="https://orig00.deviantart.net/15a7/f/2014/229/e/1/android_kit_kat_status_bar_for_ios_7_by_thebassment-d7cnun4.png" style="width:100%")
    div.text Caption Three
  a(class="prev" onclick="plusSlides(-1)") #10094
  a(class="next" onclick="plusSlides(1)") #10095
br
div(style="text-align:center")
  span.dot(onclick="currentSlide(1)")
  span.dot(onclick="currentSlide(2)") 
  span.dot(onclick="currentSlide(3)")

 
