.container-fluid.wrapper
  .row
    div.carousel.slide(data-ride="carousel" id="myCarousel")
      ol.carousel-indicators
        li(data-target="#myCarousel" data-slide-to="0" class="active")
        li(data-target="#myCarousel" data-slide-to="1")
        li(data-target="#myCarousel" data-slide-to="2")
      div.carousel-inner
        div.carousel-item.active
          img.img-responsive(src="./img/slide1.jpg" alt="First slide")
        div.carousel-item
          img.img-responsive(src="./img/slide2.jpg" alt="Second slide")
        div.carousel-item
          img.img-responsive(src="./img/slide3.jpg" alt="Third slide")
      a.carousel-control-prev(href="#myCarousel" role="button" data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#myCarousel" role="button" data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
     
